#root {
  font-family:
    "Pretendard",
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

html {
  height: 100vh;
}

h5 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #e0e2e7;
  border-radius: 10px;
  font-weight: bold;
}
